.destino{
    background-color: $white !important;
    .img-destino{
        width: 100%;
        height: 250px;
    }
}
.btn-oferta{
    padding: 5px 10px !important;
}
.caption{
    padding: 10px;
    overflow: hidden;
}